body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

input {
    width: calc(100% - 150px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.result-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #007BFF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
}

.imt-range {
    position: relative;
    height: 20px;
    background-color: #ddd;
    margin-bottom: 20px;
}

.line {
    height: 20px;
    background: linear-gradient(to right, #ff0000, #ffa500, #ffff00, #008000, #0000ff);
}

.pointer {
    position: absolute;
    top: -5px;
    width: 10px;
    height: 30px;
    background-color: #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}
